@model IEnumerable<MotCua.Model.Group>
@using System.Linq;

@{
    ViewBag.Title = "Quyền";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var ListDepartments = (IEnumerable<MotCua.Model.Department>)ViewBag.ListDepartments;
    List<MotCua.Model.Role> ListRoles = (List<MotCua.Model.Role>)ViewBag.ListRoles;
}
<link href="~/Content/plugins/jquery-notifications/css/messenger.min.css" rel="stylesheet" />
<link href="~/Content/plugins/jquery-notifications/css/messenger-theme-flat.min.css" rel="stylesheet" />
<style>
    .table .checkbox {
        height: auto;
    }

    table td .checkbox label {
        padding-left: 25px
    }
</style>

<p>
    <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-whatever="0">Thêm mới</button>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <h4>Quyền</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Chú ý: <b>admin</b> và <b>sutdent</b> không được xóa hay sửa đổi!</div>
                <table class="table table-bordered no-more-tables">
                    <thead>
                        <tr>
                            <th>
                                Quyền
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.GroupName
                                </td>
                                <td>

                                    <button class="btn btn-small btn-info" data-toggle="modal" data-target="#myModal" data-whatever="@item.GroupId">Sửa</button>
                                    <button class="btn btn-small btn-primary" data-toggle="modal" data-target="#modalSetRole-@item.GroupId">Cấp quyền</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modalSetRole-@item.GroupId" tabindex="-1" role="dialog" aria-labelledby="myModalLabe" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <br>
                                                    <i class="fa fa-credit-card fa-7x"></i>
                                                    <p class="no-margin">Thay đổi chỉ có hiệu lực sau khi gười dùng đăng xuất! </p>
                                                    <br>
                                                </div>
                                                <form action="/Admin/Groups/SetRole/@item.GroupId" method="post">
                                                    <div class="modal-body">
                                                        <div class="row form-row">
                                                            <div class="col-md-12">
                                                                @foreach (var department in ListDepartments)
                                                                {
                                                                        if (ListRoles.Where(x=>x.GroupId == item.GroupId).Any(x=>x.Name == department.DepartmentId.ToString()))
                                                                        {
                                                                            <div class="checkbox check-success">
                                                                                <input id="checkbox-@item.GroupId-@department.DepartmentId" type="checkbox" value="@department.DepartmentId" name="DepartmentId" checked>
                                                                                <label for="checkbox-@item.GroupId-@department.DepartmentId">@department.DepartmentName</label>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="checkbox check-success">
                                                                                <input id="checkbox-@item.GroupId-@department.DepartmentId" type="checkbox" value="@department.DepartmentId" name="DepartmentId">
                                                                                <label for="checkbox-@item.GroupId-@department.DepartmentId">@department.DepartmentName</label>
                                                                            </div>
                                                                        }

                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                    <!-- /.modal -->
                                   <a href="/Admin/Groups/Delete/@item.GroupId" class="btn btn-danger btn-small">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/Admin/Groups/CreateOrUpdate" method="post">
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <br>
                    <i class="fa fa-credit-card fa-7x"></i>
                    <p class="no-margin">Thay đổi chỉ có hiệu lực sau khi gười dùng đăng xuất! </p>
                    <br>
                </div>
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-12">
                            <input type="hidden" id="ID" name="GroupId" />
                            <input type="text" class="form-control" placeholder="Quyền" name="GroupName" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section scripts {
    <script src="~/Content/plugins/jquery-notifications/js/messenger.min.js"></script>
    <script src="~/Content/plugins/jquery-notifications/js/messenger-theme-flat.min.js"></script>
    <script>
        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever');
            var modal = $(this);
            modal.find('#ID').val(recipient);
        });
    </script>
    <script>
        Messenger().post("@TempData["Status"]");
    </script>
}