@model PagedList.IPagedList<MotCua.Model.Request>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Yêu cầu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var sending = MotCua.Helper.Common.RequestStatus.Sending;
    var received = MotCua.Helper.Common.RequestStatus.Received;
    var processing = MotCua.Helper.Common.RequestStatus.Processing;
    var success = MotCua.Helper.Common.RequestStatus.Success;
    var outofdate = MotCua.Helper.Common.RequestStatus.OutOfDate;
}

@{Html.RenderAction("QuickStatic", "Dashboard", null);}
<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <h4>Danh sách yêu cầu</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body no-border">

                <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                    <div class="col-md-2 col-sm-2">
                        <select class="form-control">
                            <option>Đơn vị</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <select class="form-control">
                            <option>Lĩnh vực</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <select class="form-control">
                            <option>Trạng thái</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input class="form-control" id="reg_username" name="reg_username" placeholder="Nội dung" type="text" required="">
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <input class="form-control" id="reg_pass" name="reg_pass" placeholder="Người yêu cầu" type="text" required="">
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button class="btn btn-success"><i class="fa fa-search"></i> Lọc</button>
                    </div>
                </div>

                <table class="table table-bordered no-more-tables">
                    <thead>
                        <tr>
                            <th style="width:1%">
                                <div class="checkbox check-default">
                                    <input id="checkbox20" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox20"></label>
                                </div>
                            </th>
                            <th class="text-center">Số yêu cầu</th>
                            <th class="text-center">Nội dung yêu cầu</th>
                            <th class="text-center">Người yêu cầu</th>
                            <th class="text-center">Ngày yêu cầu</th>
                            <th class="text-center">Ngày tiếp nhận</th>
                            <th class="text-center">Đơn vị tiếp nhận</th>
                            <th class="text-center">Ngày hẹn trả</th>
                            <th class="text-center">Trạng thái</th>
                            <th class="text-center">File đính kèm</th>
                            <th class="text-center">Lĩnh vực</th>
                            <th class="text-center">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="checkbox check-default">
                                        <input id="checkbox21" type="checkbox" value="1">
                                        <label for="checkbox21"></label>
                                    </div>
                                </td>
                                <td class="text-center">@item.RequestId</td>
                                <td class="text-center">@Html.Raw(item.Content)</td>
                                <td class="text-center">@item.User.FullName</td>
                                <td class="text-center">@item.RequestDate</td>
                                <td class="text-center">@item.DateReceived</td>
                                <td class="text-center">@(item?.Department?.DepartmentName)</td>
                                <td class="text-center">@item.DateRequired</td>
                                <td class="text-center">
                                    @if (item.Status == sending)
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-white btn-demo-space">Đang gửi</button>
                                            <button class="btn btn-white dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="/Admin/RequestDetails/ChangeStatus/@item.RequestId?status=@received">Đã nhận</a></li>
                                                <li><a href="/Admin/RequestDetails/ChangeStatus/@item.RequestId?status=@processing">Đang xử lý</a></li>
                                                <li><a href="/Admin/RequestDetails/ChangeStatus/@item.RequestId?status=@success">Đã xử lý</a></li>
                                            </ul>
                                        </div>
                                    }
                                    else if (item.Status == received)
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-info btn-demo-space">Đã nhận</button>
                                            <button class="btn btn-info dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="/Admin/RequestDetails/ChangeStatus/@item.RequestId?status=@processing">Đang xử lý</a></li>
                                                <li><a href="/Admin/RequestDetails/ChangeStatus/@item.RequestId?status=@success">Đã xử lý</a></li>
                                            </ul>
                                        </div>
                                    }
                                    else if (item.Status == processing)
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-demo-space">Đang xử lý</button>
                                            <button class="btn btn-primary dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="/Admin/RequestDetails/ChangeStatus/@item.RequestId?status=@success">Đã xử lý</a></li>
                                            </ul>
                                        </div>
                                    }
                                    else if (item.Status == success)
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-success btn-demo-space">Đã xử lý</button>
                                            <button class="btn btn-success dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="btn-group">
                                            <button class="btn btn-danger btn-demo-space">Đã quá hạn</button>
                                            <button class="btn btn-danger dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                                        </div>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn btn-success dropdown-toggle btn-demo-space" data-toggle="dropdown" href="#"> <i class="fa fa-cloud-download"></i> <span class="caret"></span> </a>
                                        <ul class="dropdown-menu">
                                            @foreach (var attach in item.Attaches)
                                            {
                                                <li><a href="~/Content/files/@attach.Path">@attach.Path</a></li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                                <td class="text-right">@(item?.Category?.CategoryName)</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle btn-demo-space" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-cog fa-spin"></i> <span class="caret"></span> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/Admin/RequestDetails/Details/@item.RequestId"><i class="fa fa-folder"></i> Chi tiết</a></li>
                                            <li><a href="/Admin/RequestDetails/Delete/@item.RequestId"><i class="fa fa-trash"></i> Xóa</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Content/plugins/jquery-notifications/js/messenger.min.js"></script>
    <script src="~/Content/plugins/jquery-notifications/js/messenger-theme-flat.min.js"></script>
    <script>
        Messenger().post("@TempData["ChangeStatus"]");
    </script>
}