@model PagedList.IPagedList<MotCua.Model.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var ListGroups = (IEnumerable<MotCua.Model.Group>)ViewBag.ListGroups;
}



<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <h4>Người dùng</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <form action="@Url.Action("Index", "Users")" method="get">
                    <div class="col-md-4 col-sm-4 form-group">
                        <select class="form-control" name="DepartmentId">
                            <option value="">- Chọn Nhóm Quyền -</option>
                            @foreach (var item in ListGroups)
                            {
                                <option value="@item.GroupId">@item.GroupName</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <button class="btn btn-success" type="submit"><i class="fa fa-search"></i> Lọc</button>
                        <a class="btn btn-info" href="/Admin/Users"><i class="fa fa-ban"></i> Hủy</a>
                    </div>
                </form>
                <table class="table table-bordered no-more-tables">
                    <thead>
                        <tr>
                            <th style="width:1%">
                                <div class="checkbox check-default">
                                    <input id="checkbox20" type="checkbox" value="1" class="checkall">
                                    <label for="checkbox20"></label>
                                </div>
                            </th>
                            <th>
                                Khoa
                            </th>
                            <th>
                                Quyền
                            </th>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Ngày sinh
                            </th>
                            <th>
                                Giới tính
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="checkbox check-default">
                                        <input id="checkbox21" type="checkbox" value="1">
                                        <label for="checkbox21"></label>
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Faculty.FacultyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Group.GroupName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @item.DateOfBirth.ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @(item.Gender ? "Nam" : "Nữ")
                                </td>
                                <td>
                                    <form action="/Admin/Users/ChangeStatus/@item.UserId" method="post">
                                        @if (item.Status == true)
                                        {
                                            <button class='btn btn-success btn-small' type="submit">Kích hoạt</button>
                                        }
                                        else if (item.Status == false)
                                        {
                                            <button class='btn btn-danger btn-small' type="submit">Đang chờ</button>
                                        }
                                    </form>
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Users", new { id = item.UserId })" class="btn btn-small btn-info"><i class="fa fa-pencil"></i></a>
                                    <a href="@Url.Action("Details", "Users", new { id = item.UserId })" class="btn btn-small btn-primary"><i class="fa fa-folder"></i></a>
                                    <a href="@Url.Action("Delete", "Users", new { id = item.UserId })" class="btn btn-small btn-danger"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>

<div class="body-content"></div>
@section scripts {

    <script>
        $('.btn-info').click(function (e) {
    var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
    e.preventDefault(); /* Không thực hiện action mặc định */
    $.ajax({ /* Gửi request lên server */
        url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
        type: 'GET',
        contentType: 'application/json; charset=utf-8',
        success: function (data) { /* Sau khi nhận được giá */
            $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
            $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
        }
    });
});
    </script>
}