@model PagedList.IPagedList<MotCua.Model.Department>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Phòng Ban";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="grid simple ">
            <div class="grid-title no-border">
                <h4>Phòng - Ban</h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <div class="alert alert-info">Danh sách phòng ban danh mục bên trái.</div>
                <p>
                    <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-whatever="0">Thêm mới</button>
                </p>
                <table class="table table-bordered no-more-tables">
                    <thead>
                        <tr>
                            <th>Tên phòng ban</th>
                            <th>Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                </td>
                                <td>
                                    <button class="btn btn-info btn-small" data-toggle="modal" data-target="#myModal" data-whatever="@item.DepartmentId" data-departmentname="@item.DepartmentName" data-description="@item.Description"><i class="fa fa-pencil"></i></button>

                                    <a href="@Url.Action("Delete", "Departments", new { id = item.DepartmentId })" class="btn btn-danger btn-small"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>

    @{
        Html.RenderAction("ListFaculties", "Faculties", null);
    }

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form action="/Admin/Departments/CreateOrUpdate" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row form-row">
                        <div class="col-md-12">
                            <input type="hidden" id="DepartmentId" name="DepartmentId" />
                            <input type="text" class="form-control" placeholder="Tên khoa, viện" name="DepartmentName" id="DepartmentName" required />
                            <textarea placeholder="Mô tả" name="Description" class="form-control" id="Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section scripts {
    <script>
        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever');
            var departmentName = button.data('departmentname');
            var description = button.data('description');
            var modal = $(this);
            if (departmentName === "" && description === "") {

            }
            else {
                modal.find('#DepartmentName').val(departmentName);
                modal.find('#Description').val(description);
            }
            modal.find('#DepartmentId').val(recipient);
        });
    </script>
    <script>
        $('#myModal1').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient1 = button.data('whatever1');
            var departmentName1 = button.data('departmentname1');
            var modal = $(this);
            if (departmentName1 === "") {

            }
            else {
                modal.find('#FacultyName').val(departmentName1);
            }
            modal.find('#FacultyId').val(recipient1);
        });
    </script>
}