@model MotCua.Model.User
@{
    ViewBag.Title = "Hồ sơ cá nhân";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class=" tiles white col-md-12 no-padding">
            <div class="tiles green cover-pic-wrapper">
                <div class="overlayer bottom-right">
                    <div class="overlayer-wrapper">
                        <div class="padding-10 hidden-xs">
                            <a href="/Student/Profile/Edit/@Model.UserId" class="btn btn-primary btn-small" id="btnEdit"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Chỉnh sửa</a>
                            <a href="/Student/Profile/ChangePassword" class="btn btn-warning btn-small" id="btnChangePwd"><i class="fa fa-lock"></i> Đổi mật khẩu</a>
                        </div>
                    </div>
                </div>
                <img src="~/Content/images/cover_pic.png" alt="">
            </div>
            <div class="tiles white">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="user-profile-pic">
                            <img width="69" height="69" src="~/Content/images/profiles/@Model.Image" alt="">
                        </div>
                        <div class="user-mini-description">
                            <h3 class="text-success semi-bold">
                                @ViewBag.TotalRequest
                            </h3>
                            <h5>Yêu cầu</h5>
                        </div>
                    </div>
                    <div class="col-md-8 user-description-box  col-sm-8">
                        <h4 class="semi-bold no-margin">@Model.FullName</h4>
                        <h6 class="no-margin">@Model.Faculty.FacultyName</h6>
                        <br>
                        <p><i class="fa fa-briefcase"></i>Địa chỉ: @Model.Address</p>
                        <p><i class="fa fa-briefcase"></i>Ngày sinh: @Model.DateOfBirth.ToString("dd/MM/yyyy")</p>
                        <p><i class="fa fa-briefcase"></i>Giới tính: @(Model.Gender ? "Nam" : "Nữ")</p>
                        <p><i class="fa fa-briefcase"></i>Ngày đăng ký: @Model.CreatedDate.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="grid simple horizontal red">
            <div class="grid-title ">
                <h4>Hoạt động</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body">
                <div class="alert alert-info">
                    Comming soon...
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-content"></div>
@section scripts {

    <script>
        $('#btnEdit').click(function (e) {
            var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
            e.preventDefault(); /* Không thực hiện action mặc định */
            $.ajax({ /* Gửi request lên server */
                url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) { /* Sau khi nhận được giá */
                    $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                    $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
                }
            });
        });
    </script>

    <script>
        $('#btnChangePwd').click(function (e) {
            var a_href = $(this).attr('href'); /* Lấy giá trị của thuộc tính href */
            e.preventDefault(); /* Không thực hiện action mặc định */
            $.ajax({ /* Gửi request lên server */
                url: a_href, /* Nội dung trong Delete.cshtml cụ thể là deleteModal div được server trả về */
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function (data) { /* Sau khi nhận được giá */
                    $('.body-content').prepend(data); /* body-content div (định nghĩa trong _Layout.cshtml) sẽ thêm deleteModal div vào dưới cùng */
                    $('#deleteModal').modal('show'); /* Hiển thị deleteModal div dưới kiểu modal */
                }
            });
        });
    </script>
    <script src="~/Content/plugins/jquery-notifications/js/messenger.min.js"></script>
    <script src="~/Content/plugins/jquery-notifications/js/messenger-theme-flat.min.js"></script>
    <script>
        Messenger().post("@TempData["Status"]");
    </script>
}

